@model OnlineDiscussion.Models.CommentView

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CommentView</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.posteddate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.posteddate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.CommentId">Edit</a> |
    <a class="btn btn-danger" href="/TopicView/">Back</a>
</div>
